# Turso Database
TURSO_DATABASE_URL=libsql://[db-name]-[account].aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=your-turso-auth-token-here

# Next.js
NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1
VERCEL_ENV=production
